
<footer class="footer-area">
    <div class="main-footer pt-85 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>ABOUT KIDSCHOOL</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered maksu rez in some form, by injected humour, or randomised words which don't </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>classes section</h3>
                        <nav>
                            <ul>
                                <li><a href="#">Little Lambs</a></li>
                                <li><a href="#">master mind</a></li>
                                <li><a href="#">world round</a></li>
                                <li><a href="#">honter caves</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>quick link</h3>
                        <nav>
                            <ul>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">class keyword</a></li>
                                <li><a href="#">contact us</a></li>
                                <li><a href="#">shortcodes</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>newsletter</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                        <form action="#" id="mc-form" class="mc-form fix">
                            <div class="subscribe-form">
                                <input id="mc-email" type="email" name="email" placeholder="Your Email">
                                <button id="mc-submit" type="submit">submit</button>
                            </div>
                        </form>
                        <div class="mailchimp-alerts text-centre fix text-small">
                            <div class="mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-12 pb-9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>
                        © 2022 <span class="text-capitalize">kidschool</span> Made
                        with <span style="color:#ea3a3c;">&#10084;</span> by
                        <a target="_blank" href="https://hasthemes.com/">HasThemes</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>\
                            <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>