
<header class="header-area sticker" id="topnav">
    <div class="header-wrapper header-padding">
        <div class="header-top hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="top-left">
                            <ul>
                                <li><i class="icofont icofont-ui-call"></i>0123456789</li>
                                <li><i class="icofont icofont-ui-clock"></i> Thứ hai đến thứ bảy: 8.00 - 12.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo/logo.png" alt="kidschool">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="content-wrapper">
                            <div class="main-menu text-right">
                                <nav>
                                    <ul class="navigation-menu">
                                        <li><a asp-controller="Home" asp-action="Index">TRANG CHỦ </a></li>
                                        <li class="hidden-sm"><a asp-controller="Teacher" asp-action="Index">GIẢNG VIÊN</a></li>
                                        <li><a asp-controller="Category" asp-action="Index">TIN TỨC</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>