@{
    ViewData["Title"] = "Home Page";
}
<section id="slider-container">
    <div class="kid-owl-slider">
        <div class="single-slide hs-item">
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 position-relative">
                            <div class="slider-content dis-table">
                                <div class="dis-table-cell hs-content slide-content text-left">
                                    <h3>KIDSCHOOL </h3>
                                    <h1>PERFECT START</h1>
                                    <h2>FOR YOUR CHILD</h2>
                                    <a href="#" class="btn">learn more</a>
                                </div>
                            </div>
                            <div class="slider-img hs-content">
                                <img src="~/assets/images/slider/1.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide hs-item">
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 position-relative">
                            <div class="slider-content dis-table">
                                <div class="dis-table-cell hs-content slide-content text-left">
                                    <h3>KIDSCHOOL </h3>
                                    <h1>PERFECT START</h1>
                                    <h2>FOR YOUR CHILD</h2>
                                    <a href="#" class="btn">learn more</a>
                                </div>
                            </div>
                            <div class="slider-img hs-content">
                                <img src="~/assets/images/slider/1.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide hs-item">
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 position-relative">
                            <div class="slider-content dis-table">
                                <div class="dis-table-cell hs-content slide-content text-left">
                                    <h3>KIDSCHOOL </h3>
                                    <h1>PERFECT START</h1>
                                    <h2>FOR YOUR CHILD</h2>
                                    <a href="#" class="btn hidden-xs">learn more</a>
                                </div>
                            </div>
                            <div class="slider-img hs-content">
                                <img src="~/assets/images/slider/1.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="activities-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>our activities</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/1.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">our Teacher</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/2.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">sports</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/3.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">bus service</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/4.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">music class</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/5.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">language</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/6.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">custom food</a></h3>
                        <p>There are many varieations of passages Lorem Ipsum available majority have only alteration some form, have only </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>gallery</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have </p>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="portfolio-menu mb-40 text-center">
                <button class="active" data-filter="*">all</button>
                <button data-filter=".cat1">creative</button>
                <button data-filter=".cat2">sports</button>
                <button data-filter=".cat3">class</button>
                <button data-filter=".cat4">video</button>
            </div>
            <div class="grid row">
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/1.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/1.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2 cat4">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/2.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/2.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat4">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/4.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/4.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/6.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/6.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/3.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/3.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/5.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/5.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load text-center">
                <a class="hvr-bounce-to-right" href="#">load more</a>
            </div>
        </div>
    </div>
</div>
<div class="fun-area pt-90 pb-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/1.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">28</h3>
                        <h5>teacher &amp; stuff</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/2.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">250</h3>
                        <h5>active students</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/3.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">350</h3>
                        <h5>satisfied students</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/4.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">12</h3>
                        <h5>classes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="teacher-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>teachers</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="teacher-owl">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="teacher-img">
                            <img src="~/assets/images/teacher/1.jpg" alt="teacher">
                            <div class="teacher-content">
                                <h3>Amily</h3>
                                <p>English Teacher</p>
                                <div class="teacher-hover">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="teacher-img">
                            <img src="~/assets/images/teacher/2.jpg" alt="teacher">
                            <div class="teacher-content">
                                <h3>Kate Watson</h3>
                                <p>Sports Teacher</p>
                                <div class="teacher-hover">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="teacher-img">
                            <img src="~/assets/images/teacher/3.jpg" alt="teacher">
                            <div class="teacher-content">
                                <h3>Nipu Watson</h3>
                                <p>Bangla Teacher</p>
                                <div class="teacher-hover">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="single-teacher">
                        <div class="teacher-img">
                            <img src="~/assets/images/teacher/4.jpg" alt="teacher">
                            <div class="teacher-content">
                                <h3>Lara Wilems</h3>
                                <p>Math Teacher</p>
                                <div class="teacher-hover">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="events-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2>our events</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="event-owl">
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sports day </a><span>21 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sports day </a><span>21 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sports day </a><span>21 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        It is a long established fact that a will be distracted by  readable content
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="event-right text-center">
                    <h2>our next events</h2>
                    <p>many varieations of passages Lorem Ipsum available</p>
                    <div class="single-right">
                        <h4>parents day</h4>
                        <p>20-feb-2017, at 10am to 4pm</p>
                    </div>
                    <div class="single-right">
                        <h4>study tour</h4>
                        <p>19-march-2017 to 21-march-2017</p>
                    </div>
                    <div class="single-right">
                        <h4>summer sports</h4>
                        <p>25-april-2017 to 29-april-2017</p>
                    </div>
                    <div class="single-right">
                        <h4>teachers day</h4>
                        <p>17-may-2017, at 10am to 4am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area pt-88 pb-85 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="single-testimonial">
                        <h2>WHAT PARENTS SAY</h2>
                        <p>There are many varieations of passages Lorem Ipsum available for our majority have not only alteration. </p>
                        <h4>Maksud reza</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="classes-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>classes</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/1.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/1.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>little lambs</h3>
                        <ul>
                            <li>years old <span>3-4</span></li>
                            <li>kids <span>24</span></li>
                            <li>fees <span>270$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/2.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/2.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>master kids</h3>
                        <ul>
                            <li>years old <span>4-5</span></li>
                            <li>kids <span>21</span></li>
                            <li>fees <span>300$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/3.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/3.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>creative kids</h3>
                        <ul>
                            <li>years old <span>5-6</span></li>
                            <li>kids <span>18</span></li>
                            <li>fees <span>320$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-area text-center pt-90 pb-83">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>quick contact</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/1.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>Our Location</h5>
                        <p>Address: Your address goes here.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/2.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>phone number</h5>
                        <p>
                            0123456789<br>
                            0123456789
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/3.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>email id</h5>
                        <p>
                            demo@gmail.com<br>
                            demo@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/4.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>Kidschool Time</h5>
                        <p>
                            8am to 5pm, Mon to Fri<br>
                            9am to 1am sat
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>