
@{
    ViewData["Title"] = "Index";
}

<!-- Start Banner Area-->
<div class="banner-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-content-wrapper">
                    <div class="banner-content">
                        <h2>events</h2>
                        <div class="banner-breadcrumb">
                            <ul>
                                <li><a href="index.html">home </a> /</li>
                                <li>events</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start of events Area -->
<div class="events-area pt-90 pb-90 single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2>our events</h2>
                    <p>There are many varieations of passages Lorem Ipsum maksu rez majority have</p>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="single-event ml-120 mr-120 mb-20 fix row">
                <div class="col-lg-5">
                    <div class="event-img">
                        <img src="~/assets/images/event/3.jpg" alt="event">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/event/3.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="single-event-owl">
                        <div class="event-content">
                            <h3><a href="#">MOTHERS DAY </a><span>21 Feb</span></h3>
                            <p>It is a long established fact that a reader will be distracted by  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-event ml-120 mr-120 mb-20 fix row">
                <div class="col-lg-7">
                    <div class="single-event-owl">
                        <div class="event-content">
                            <h3><a href="#">MOTHERS DAY </a><span>21 Feb</span></h3>
                            <p>It is a long established fact that a reader will be distracted by  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="event-img">
                        <img src="~/assets/images/event/4.jpg" alt="event">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/event/4.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-event ml-120 mr-120 mb-20 fix row">
                <div class="col-lg-5">
                    <div class="event-img">
                        <img src="~/assets/images/event/5.jpg" alt="event">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/event/5.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="single-event-owl">
                        <div class="event-content">
                            <h3><a href="#">MOTHERS DAY </a><span>21 Feb</span></h3>
                            <p>It is a long established fact that a reader will be distracted by  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-event ml-120 mr-120 mb-20 fix row">
                <div class="col-lg-7">
                    <div class="single-event-owl">
                        <div class="event-content">
                            <h3><a href="#">MOTHERS DAY </a><span>21 Feb</span></h3>
                            <p>It is a long established fact that a reader will be distracted by  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="event-img">
                        <img src="~/assets/images/event/6.jpg" alt="event">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/event/6.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-event ml-120 mr-120 fix row">
                <div class="col-lg-5">
                    <div class="event-img">
                        <img src="~/assets/images/event/7.jpg" alt="event">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/event/7.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="single-event-owl">
                        <div class="event-content">
                            <h3><a href="#">MOTHERS DAY </a><span>21 Feb</span></h3>
                            <p>It is a long established fact that a reader will be distracted by  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of events Area -->
